@import './colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: initial;
  font-family: inherit;
  font-weight: initial;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'PAYW Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: var(--default-text-color);
  font-size: 100%;
  background-color: var(--background-static);
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 120%;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--background-gradient);
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

hr {
  border: none;
}

span {
  font: inherit;
}
