@use './framework7-icons.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: initial;
  font-family: inherit;
  font-weight: initial;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
  background-color: #f3f3f5;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

hr {
  border: none;
}
