.home {
  padding: 0 1rem;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.category-section {
  width: 100%;
  margin-top: 2rem;

  .subject {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 0.7rem;
    margin-top: 0.7rem;
  }
}
