@use '@/styles/mixins' as *;

.home {
}

.category-section {
  width: 100%;
  margin-bottom: 2.7rem;

  &:last-child {
    margin-bottom: 0;
  }

  .subject {
    padding: 0 1.3rem;
    margin: 0 -1rem 0.7rem;
    color: var(--sub-text-color);
    text-shadow: 0 0.1em 0.3em rgba(#000, 0.3);
    font-size: 1rem;
    font-weight: 500;

    .section-icon {
      display: inline-block;
      margin-right: 0.7em;
      font-weight: 400;
    }
  }

  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 0.7rem;
    margin-top: 0.3rem;
  }
}
